*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header{
    height: 100px;
    background-color: #A5A2CD;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.logo{
    display: flex;
}

.links ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
}
.logo img{
    width: 64px;
    height: auto;
    
}